.login-container, .registration-container, .token-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 40px;
  max-width: 400px;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title-logo {
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
}

.title-logo path {
  fill: transparent;
}

.title-logo text {
  fill: #fff;
}

.more-button {
  font-style: italic;
}

.card {
  margin-bottom: 1em;
}

.card-title a {
  color: black;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-horizontal img {
  width: 33%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (max-width: 600px) {
  .card-horizontal {
    flex-direction: column;
  }
  .card-horizontal img {
    width: 100%;
    border-top-right-radius: var(--bs-card-inner-border-radius); 
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: 0;
  }
}

.top-container {
  padding-bottom: 5rem;
}

.top-container h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.rose-listing {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.rose-listing .card-horizontal img {
  width: 50%;
  cursor: pointer;
}

.rose-listing .card {
  height: 250px;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .rose-listing .card {
    height: auto;
  }
  .rose-listing .card-horizontal {
    flex-direction: column;
  }
  .rose-listing .card-horizontal img {
    width: 100%;
    border-top-right-radius: var(--bs-card-inner-border-radius); 
    border-top-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-left-radius: 0;
  }
}

.rose-single {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.roseCarouselItem{
  border: 1px solid gray;
  background-color: #000;
}
.roseCarouselItem img {
  width: auto !important;
  max-height: 75vh;
  margin: auto;
}

.spinner-container {
  text-align: center;
  margin-top: 50px;
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 1rem;
}

.admin-container {
  margin-top: 4rem;
  margin-bottom: 4rem;
}